@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Vector Ops</h1>
    <p>Equipment | Vehicles | Staff</p>

    <br />

    <a class="btn btn-primary" href="#">Equipment</a>
    <a class="btn btn-secondary" href="#">Vehicles</a>
    <a class="btn btn-success" href="#">Staff</a>
</div>
