@page
@model VehiclesModel
@{
    ViewData["Title"] = "Vehicles";
}

<div class="container text-center">
    <h2>Vehicles</h2>

    <br />

    <a class="btn btn-primary" href="#">Search Vehicles</a>
    <a class="btn btn-secondary" href="#">Log Inspection</a>
    <a class="btn btn-danger" href="#">Report Issue</a>
    <a class="btn btn-warning" href="#">Move / Reallocate</a>
    <a class="btn btn-success" href="#">Add New Vehicle</a>
</div>
