@page
@model VehiclesModel
@{
    ViewData["Title"] = "Vehicles";
}

<div class="container text-center">
    <h2>Vehicles</h2>

    <br />

<div class="menu-row">

    <a class="menu-btn equipment-btn" href="#">
        Search Vehicles
    </a>

    <a class="menu-btn vehicle-btn" href="#">
        Log Inspection
    </a>

    <a class="menu-btn report-btn" href="#">
        Report Issue
    </a>

    <a class="menu-btn stock-btn" href="#">
        Move / Reallocate
    </a>

    <a class="menu-btn staff-btn" href="#">
        Add New Vehicle
    </a>

</div>
</div>
